<section class="section-features">
    <div class="row">
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-world"></i>
                <h3 class="heading-testiary u-margin-bottom-small">Connect Anything</h3>
                <p class="feature-box__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae delectus quaerat, repellendus, natus laborum repudiandae placeat aliquam, quod veniam doloremque assumenda sapiente!
                </p>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-compass"></i>
                <h3 class="heading-testiary u-margin-bottom-small">Find your way</h3>
                <p class="feature-box__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae delectus quaerat, repellendus, natus laborum repudiandae placeat aliquam, quod veniam doloremque assumenda sapiente!
                </p>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-map"></i>
                <h3 class="heading-testiary u-margin-bottom-small">Sollutions for everyone</h3>
                <p class="feature-box__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae delectus quaerat, repellendus, natus laborum repudiandae placeat aliquam, quod veniam doloremque assumenda sapiente!
                </p>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-home"></i>
                <h3 class="heading-testiary u-margin-bottom-small">Connect from home</h3>
                <p class="feature-box__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae delectus quaerat, repellendus, natus laborum repudiandae placeat aliquam, quod veniam doloremque assumenda sapiente!
                </p>
            </div>
        </div>
    </div>
</section>
