<section class="section-how">
    <div class="u-center-text u-margin-bottom-large">
        <h2 class="heading-secondary">
            Choose your Searchways
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1">
                            By Business
                        </span>

                    </h4>
                    <div class="card__details">
                            <ul>
                                <li>For Starters</li>
                                <li>People who need Answers</li>
                                <li>Small/Medium Business</li>
                                <li>Up to 80 users</li>

                            </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__callta">
                        <div class="card__util-box">
                            <p class="card__util-only">Samll and Medium Businss</p>
                            <p class="card__util-value">Inside</p>
                        </div>
                        <a href="#" class="btn btn--white">Check Now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">
                                            By Software
                                        </span>
                            </h4>
                            <div class="card__details">
                                    <ul>
                                        <li>For Enterprise</li>
                                        <li>People who need Solutions</li>
                                        <li>Any Business</li>
                                        <li>Unlimited users</li>

                                    </ul>
                            </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__callta">
                        <div class="card__util-box">
                            <p class="card__util-only">Any Business</p>
                            <p class="card__util-value">Inside</p>
                        </div>
                        <a href="#" class="btn btn--white">Check Now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">
                                    By Needs
                                </span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>For Experienced</li>
                                    <li>People who need Miracles</li>
                                    <li>Any Business</li>
                                    <li>Unlimited users</li>

                                </ul>
                            </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__callta">
                        <div class="card__util-box">
                            <p class="card__util-only">Any Business</p>
                            <p class="card__util-value">Inside</p>
                        </div>
                        <a href="#" class="btn btn--white">Check Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--cian">Find all the ways</a>
    </div>

</section>
