<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
        </label>

    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Benefits</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Popular</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Book it</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Tsibouk it</a></li>
        </ul>
    </nav>
</div>

<section class="section-top-bar top-bar">
    <div class="top-bar__stuffing">
            this is a top bar section with facebook etc
    </div>
    <div class="top-bar__contact">
        <ul class="top-bar__contact__list">
            <li class="top-bar__contact__list-item"><i class="top-bar__contact__icon icon-basic-phone"></i>Phone: 210 2102102</li>
            <li class="top-bar__contact__list-item"><i class="top-bar__contact__icon icon-basic-world"></i>Email: support[a]datalink.com.gr</li>
            <li class="top-bar__contact__list-item"><i class="top-bar__contact__icon icon-basic-world"></i>Mon - Fri: 10:00 - 18:00</li>
            <!--<li class="top-bar__contact__list-item"></li>-->
        </ul>
    </div>
</section>
