<section class="section-stories">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="img/video.mp4" type="video/mp4">
            <source src="img/video.webm" type="video/webm">
                Your Browser does not support videos
        </video>
    </div>
    <div class="u-center-text u-margin-bottom-large">
        <h2 class="heading-secondary">
            We meet people's expectations
        </h2>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                    <img src="img/nat-8.jpg" alt="whatever person" class="story__img">
                    <figcaption class="story__caption">Ελένη Μιχοπούλου</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-medium">
                    H DataLink στάθηκε από την αρχή μέχρι το τέλος δίπλα μας
                </h3>
                <p>Η ευκολία κατανόησης και χρήσης της εφαρμογής από τους εργαζόμενους, η αμεσότητα πρόσβασης σε κάθε λεπτομέρεια της λειτουργίας των τμημάτων της επιχείρησης, η ταχύτητα παραγωγής στατιστικών στοιχείων και η αντιμετώπιση των αυξανόμενων και σύνθετων απαιτήσεων επιβεβαιώνουν την επιλογή του SoftOne ERP.  H DataLink, o συνεργάτης της Softone που ανέλαβε εξ’ ολοκλήρου την υλοποίηση του έργου, στάθηκε από την αρχή μέχρι το τέλος δίπλα μας προσφέροντας άμεσες, ουσιαστικές λύσεις, και εξασφάλισε  την επιτυχή εφαρμογή των διαδικασιών και την ομαλή λειτουργιά της εταιρείας μας.
                    <br/> <span class="story__text-q"><q>Γεν. Διευθύντρια ΣΥΝΕΡΓΙΑ ΕΠΕ - Αποκλειστική αντιπρόσωπος της NESPRESSO Business Solutions στην Ελλάδα</q></span>
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="img/nat-9.jpg" alt="whatever person" class="story__img">
                <figcaption class="story__caption">Τάκης Κεσαρλής</figcaption>
                <!--na thimithw na valw katw deksia thn etairia-->
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-medium">
                        Η DataLink, μέσω του λογισμικού της SoftOne, όχι μόνο τα κατάφερε αλλά συνεχίζει
                </h3>
                <p>Το πιο δύσκολο κομμάτι της εταιρίας ήταν να μπορέσουμε να εντάξουμε ενιαία σε μία μόνο εφαρμογή όλες τις λειτουργικές μας διαδικασίες. Η DataLink, μέσω του λογισμικού της SoftOne, όχι μόνο τα κατάφερε αλλά συνεχίζει να επεκτείνει και να αναβαθμίζει συνεχώς το σύστημά μας. Πλέον το ανθρώπινο δυναμικό μας μπορεί να αντιμετωπίσει οποιαδήποτε δυσκολία χρειαστεί, άμεσα και αποτελεσματικά.
                    <br/><span class="story__text-q"><q>Διοικητικό Μέλος MEGA GROUP SECURITY ΑΕ</q></span>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn-text-white">Read all stories</a>
</div>
</section>
