<html>
  <head>
    <title>Mysite</title>

  </head>

  <body>
    <%= render 'template/nav' %>


    <%= render 'template/header' %>



    <%= render 'template/aboutsection' %>



    <%= render 'template/contactform' %>



  </body>
</html>
